@font-face {
  font-family: Special Gothic;
  src: url(../fonts/SpecialGothic-Regular.ttf);
}

@font-face {
  font-family: Bitcount Grid Double;
  src: url(../fonts/BitcountGridDouble-Regular.ttf)
}

:root {
  --red: rgb(255, 0, 0);
  --yellow: rgb(255, 255, 0);
  --bg-color: rgb(34, 34, 34);
  --bg-dotted: rgb(220, 20, 60, 0.4);
  --text-color: rgb(250, 240, 230);
}

.main-container {
  display: grid;
  place-content: center;
  overflow: hidden;
  font-family: "Special Gothic", sans-serif;
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--text-color);
  font-size: 1rem;
  width: 100vw;
  min-height: 100vh;
  background-image: radial-gradient(circle at 1px 1px, var(--bg-dotted) 1.3px, transparent 0);
  background-size: 40px 40px;
}

h1 {
  font-family: "Bitcount Grid Double";
  font-weight: 400;
  letter-spacing: 1px;
}

h2 {
  font-family: "Bitcount Grid Double";
  font-weight: 370;
  word-spacing: -7px;
  letter-spacing: 1px;
}

li > a,
h1 > a,
h2 > a {
  text-decoration: underline;
  text-decoration-color: var(--red);
}

li > a {
  text-decoration-thickness: 2px;
}

li > a:hover,
h1 > a:hover,
h2 > a:hover {
  text-decoration-color: var(--yellow);
}

h1{
  animation: glitch 1.5s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

h1:before,
h1:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

h1:before{
  animation: glitchTop 2s linear infinite;
  color: var(--red);
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(3px,-2px);
  }
  4%,60%{
    transform: translate(-1px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

h1:after{
  animation: glitchBotom 2s linear infinite;
  color: var(--yellow);
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}
