@font-face {
  src: url(../fonts/SpecialGothic-Regular.ttf);
}

:root {
  --red: rgb(255, 0, 0);
  --yellow: rgb(255, 255, 0);
  --bg-color: rgb(34, 34, 34);
  --bg-dotted: rgb(220, 20, 60, 0.4);
  --text-color: rgb(250, 240, 230);
}

.main_container {
  display: grid;
  place-content: center;
  overflow: hidden;
  font-family: "Special Gothic", sans-serif;
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--text-color);
  font-size: 1rem;
  width: 100vw;
  min-height: 100vh;
  background-image: radial-gradient(circle at 1px 1px, var(--bg-dotted) 1.3px, transparent 0);
  background-size: 40px 40px;
}

li > a,
h1 > a,
h2 > a {
  text-decoration: underline;
  text-decoration-color: var(--red);
}

li > a {
  text-decoration-thickness: 2px;
}

li > a:hover,
h1 > a:hover,
h2 > a:hover {
  text-decoration-color: var(--yellow);
}


